<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>unspokenpoetries</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style_chatbot.css') }}">
</head>

<body>

<div class="chat-body">

    <!-- Header -->
    <div class="head">
        Spoke to Kana
    </div>

    <!-- Area Chat -->
    <div class="messages" id="chat-box">

        <div class="Kana">
        </div>

    </div>

    <!-- Footer -->
    <div class="footer">

        <input
            class="input"
            id="pesan"
            type="text"
            placeholder="Mau nanya apa?.."
        >

        <button
            class="btnSend"
            onclick="kirimPesan()">
            Kirim
        </button>

    </div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>